<nav>
	<ul>
		<li><a href="/user/profile">Profile</a></li>	
		<li><a href="/user/rooms">Rooms</a></li>	
		<li><a href="/user/friends">Friends</a></li>	
		<li id="logout"><a href="/user/logout">Logout</a></li>
	</ul>
</nav>