<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
	<h1>A list of all rooms</h1>
	<ul>
		<li><a href="#">Football fans</a></li>
		<li><a href="#">Legendary heroes</a></li>
		<li><a href="#">Cairo museums</a></li>
	</ul>
</div>

<% include ../partials/footer.ejs %>