<% include ../partials/header.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
	<h1>A list of all rooms</h1>
	<ul>
		<% for(var i = 0; i < rooms.length; i++){ %>
			<%
				// For a more readable code.
				var link  = rooms[i].link;
				var title = rooms[i].title;
				var count = rooms[i].usersCount;
			%>
			<li>
				<a href=<%= link %>><%= title %>(<%= count %> members online)</a>
			</li>
		<% } %>
	</ul>
</div>

<% include ../partials/footer.ejs %>