<% include ./partials/header.ejs %>
<% include ./partials/navigation.ejs %>

<div class="boxes" id="profile-windows">
	<div class="left-box" id="profile-chat-rooms">
		
		<a class="under-box-banner" href="/rooms">Search all rooms</a>
	</div>

	<div class="right-box" id="profile-online-friends">
		
		<a href="/users" class="under-box-banner">Find new friends</a>
	</div>
</div>

<% include ./partials/footer.ejs %>