<% include ../partials/header.ejs %>
<% include ./user-style.ejs %>
<% include ../partials/navigation.ejs %>


<div class="boxes" id="profile-windows">
	<div class="left-box" >
		<div id="online-chat-rooms">
			<p>Online rooms: </p>
			<ul>
				<li><a href="#">Home owners</a></li>
				<li><a href="#">New year</a></li>
				<li><a href="#">Football fans</a></li>
			</ul>
		</div>

		<a href="/rooms" class="under-box-banner">View all rooms</a>
	</div>

	<div class="right-box" >
		<div id="online-friends">
			
		</div>
		<a href="/users" class="under-box-banner">Show all users</a>
	</div>
</div>

<% include ../partials/footer.ejs %>