<% include ../partials/header.ejs %>
<% include ./user-style.ejs %>
<% include ../partials/navigation.ejs %>


<div class="boxes" id="profile-windows">
	<div class="left-box" >
		<p>Online (open) rooms: </p>
		<div id="online-chat-rooms">
			<ul>
				<% for(var i = 0; i < openRooms.length; i++){ %>
					<%
						var title = openRooms[i].title;
						var link  = openRooms[i].link;
						var count = openRooms[i].usersCount;
					%>
					<li><a href=<%= link %>><%= title %>(<%= count %> online)</a></li>
				<% } %>
			</ul>
		</div>

		<a href="/rooms" class="under-box-banner">View all rooms</a>
	</div>

	<div class="right-box" >
		<p>Online friends: </p>
		<div id="online-friends">
			
		</div>
		<a href="/users" class="under-box-banner">Show all users</a>
	</div>
</div>

<% include ../partials/footer.ejs %>