<% include ../partials/header.ejs %>
<% include ./user-style.ejs %>
<% include ../partials/navigation.ejs %>


<div class="container">
	<div id="profile-details">
		<ul>
			<li>
				Username: <%= user.name %>
				<a href="#" class="reveal-input" id="edit-username">edit</a>
				<input type="text" id="new-username" name="username" value="" 
						class="styled-input"  placeholder="new username" />
			</li>
			<li>
				Email: <%= user.email %> 
				<a href="#" class="reveal-input" id="edit-email">edit</a>
				<input type="text" name="email" value="" id="new-email" 
						class="styled-input" placeholder="new email"/>
			</li>
			<li>
				Password: &#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;
				<a href="#" class="reveal-input" id="edit-password">edit</a>
				<input type="password" name="password" value="" id="new-password" 
						class="styled-input" placeholder="new password" />
			</li>
			<li>
				<input type="submit" class="styled-button" id="update-profile" value="update" />
				<input type="submit" class="styled-button" id="cancel-update" value="cancel" />
			</li>
		</ul>
	</div>	
	<p>Emails are used to receive notifications, or when you forget your password.</p>
</div>

<script type="text/javascript">

$(window).onload = function(){

// Form elements
var usernameInput = $("#new-username");
var emailInput    = $("#new-email");	
var passwordInput = $("#new-password");

// Display buttons
var usernameButton = $("#edit-username");
var emailButton    = $("#edit-email");
var passwordButton = $("#edit-password");

// Form buttons
var updateButton = $("#update-profile");
var cancelButton = $("#cancel-update");


// Hiding inputs until user clicks to edit them.
usernameInput.hide();
emailInput.hide();
passwordInput.hide();
	
// Hiding submit and cancel buttons, until there's data to submit.
updateButton.hide();
cancelButton.hide();

usernameButton.on("click", function(event){
	event.preventDefault();
	usernameButton.hide();
	usernameInput.val(""); // Clearing any browser value
	usernameInput.show();
	showFormButtons();
});

emailButton.on("click", function(event){
	event.preventDefault();
	emailButton.hide();
	emailInput.val(""); // Clearing any browser value
	emailInput.show();
	showFormButtons();
});

passwordButton.on("click", function(event){
	event.preventDefault();
	passwordButton.hide();
	passwordInput.val(""); // Clearing any browser value
	passwordInput.show();
	showFormButtons();
});

cancelButton.on("click", function(){
	resetForm();
});

/*
When the user clicks "update", a request with all inputs 
is send to the server, regardless of whether the user 
wants to change every value or not.
*/
updateButton.on("click", function(event){
	event.preventDefault();
	var username = usernameInput.val().trim();
	var email    = emailInput.val().trim();
	var password = passwordInput.val().trim();

	// Sending null to server to avoid updating undesired values.
	if(!username || username.length == 0){
		username == null;
	}else if(username.length < 4){
		// Warn the user
	}

	if(!email || email.length == 0){
		email == null;
	}else if(email.length < 4){
		// Warn the user
	}

	if(!password || password.length == 0){
		password == null;
	}else if(password.length < 4){
		// Warn the user
	}

	// Send update request to server.
	$.ajax({
		method: "POST",
		url   : "/user/update-profile",
		data  : {
			username: username,
			email   : email,
			password: password
		},
		xhrFields:{
			// Makes the server authenticate the user.
			withCredentials: true
		},
		success: function(response){
			console.log(response);
			console.log("Data sent to server.");
		},
		error: function(){
			// Data failed to reach server.
		}
	});

	resetForm();
});


// Resets all form components.
function resetForm(){
	usernameButton.show();
	emailButton.show();
	passwordButton.show();

	usernameInput.hide();
	emailInput.hide();
	passwordInput.hide();

	updateButton.hide();
	cancelButton.hide();
}

// Displays a button, if it's hidden.
function displayButton(button, display){
	if(button.css("display") == "none"){
		button.css("display", display);
	}
}

// Displays the form buttons if they are hidden.
function showFormButtons(){
	displayButton(updateButton, "inline-block");
	displayButton(cancelButton, "inline-block");
}

}();
</script>

<% include ../partials/footer.ejs %>