<% include ../partials/header.ejs %>
<% include ./user-style.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
	<div id="profile-details">
		<ul>
			<li>Username: Omar Mohamad</li>
			<li>Email: omar@email.com</li>
		</ul>
	</div>	
	<p>Emails are used to receive notifications when someone visits your room, or when you forget your password.</p>
</div>

<% include ../partials/footer.ejs %>