<% include ../partials/header.ejs %>
<% include ./user-style.ejs %>
<% include ../partials/navigation.ejs %>

<div class="container">
	<div id="rooms-content" class="clear-fix">
		<div class="left-box">
			<p>Created rooms: </p>
			<ul>
				<% for(var i = 0; i < rooms.length; i++){ %>
					<%
						// For a cleaner code
						var title = rooms[i].title;
						var link  = rooms[i].link;
						var count = rooms[i].membersCount;
					%>
					<li>
						<a href=<%= link %>><%= title %>(<%= count %> online)</a>
					</li>
				<% } %>
			</ul>
			<a href="/rooms/">Show all rooms</a>
		</div>
		<div class="right-box" id="new-room-box">
			<p>Create a new room</p>
			<form id="new-room-form" action="/rooms/new" method="post">
				<div class="form-row">
					<label for="roomName">Room title:</label>
					<input type="text" name="roomName" placeholder="Room name">
				</div>
				<div class="form-button">
					<input type="submit" name="submit" value="Create" />
				</div>
			</form>
		</div>
	</div>
</div>

<% include ../partials/footer.ejs %>